<mat-sidenav-container class="layout">
  <mat-sidenav mode="side" opened class="sidebar">
    <div class="logo">
      <span>TaskFlow</span>
    </div>

    <mat-nav-list>
      @for (item of menuItems; track item.route) {
        @if (canShow(item)) {
          <a mat-list-item [routerLink]="item.route" routerLinkActive="active">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>

            <span matListItemTitle>{{ item.label }}</span>
          </a>
        }
      }
    </mat-nav-list>

    <div class="logout">
      <button mat-button color="warn" (click)="logout()">
        <mat-icon>logout</mat-icon>

        Cerrar sesión
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
